/* Basic styles for scrolling */
@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Bold.eot");
  src: url("./assets/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Raleway-Bold.woff2") format("woff2"), url("./assets/fonts/Raleway-Bold.woff") format("woff"), url("./assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.eot");
  src: url("./assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Raleway-Regular.woff2") format("woff2"), url("./assets/fonts/Raleway-Regular.woff") format("woff"), url("./assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("./assets/fonts/Rajdhani-Bold.eot");
  src: url("./assets/fonts/Rajdhani-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Rajdhani-Bold.woff2") format("woff2"), url("./assets/fonts/Rajdhani-Bold.woff") format("woff"), url("./assets/fonts/Rajdhani-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("./assets/fonts/Rajdhani-Regular.eot");
  src: url("./assets/fonts/Rajdhani-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Rajdhani-Regular.woff2") format("woff2"), url("./assets/fonts/Rajdhani-Regular.woff") format("woff"), url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  font-family: "Raleway";
}

body {
  height: 220vh;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-white {
  color: #FFFFFF;
}

#machine-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
}
#machine-animation svg {
  height: 100%;
  width: 100%;
}
#machine-animation .machine-part {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#machine-animation .machine-part.show {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#machine-animation .machine-part .lazer,
#machine-animation .machine-part .circles,
#machine-animation .machine-part .table {
  opacity: 0;
}
#machine-animation .machine-part.hide {
  opacity: 0.2;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#machine-animation .machine-part #part2:hover + .lazer {
  opacity: 1;
}
#machine-animation .machine-part.cad-group #part3 {
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
#machine-animation .machine-part.cad-group #part3_1 {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
#machine-animation .machine-part.cad-group:hover #part3 {
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
#machine-animation .machine-part.cad-group:hover #part3_1 {
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
#machine-animation .machine-part #part4_1 {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#machine-animation .machine-part #part4_1:hover {
  opacity: 0.4;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#machine-animation .machine-part #part5:hover + .circles {
  opacity: 1;
}

@-webkit-keyframes fadeInTopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInTopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
#part6 {
  opacity: 0;
  pointer-events: none;
}

#part1:hover + #part6 {
  -webkit-animation: fadeInTopToBottom 500ms forwards;
          animation: fadeInTopToBottom 500ms forwards;
  opacity: 1;
}

.info-wrapper {
  width: 40%;
  height: 500px;
  padding: 0 20px;
}
.info-wrapper .info {
  margin-bottom: 20px;
}
.info-wrapper h3 {
  position: relative;
}
.info-wrapper span {
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.info-wrapper span::before {
  content: "";
  position: absolute;
  left: -15px;
  width: 5px;
  height: 5px;
  border: 1px solid #40aa1d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.info-wrapper span:hover {
  color: #40aa1d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.info-wrapper span:hover::before {
  background-color: #40aa1d;
  border: 1px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.info-wrapper:nth-child(1 of .info-wrapper) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info-wrapper:nth-child(1 of .info-wrapper) h3::after {
  content: "";
  width: 140%;
  position: absolute;
  border-bottom: 1px dotted #707070;
  bottom: 0;
  left: 0;
}
.info-wrapper:nth-child(2 of .info-wrapper) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info-wrapper:nth-child(2 of .info-wrapper) h3::after {
  content: "";
  width: 160%;
  position: absolute;
  border-bottom: 1px dotted #707070;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  #machine-animation {
    display: none;
  }
  #mobile-tablet {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  #mobile-tablet {
    display: none;
  }
}
#results {
  background-image: url(assets/img/statistics-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 0;
}
#results h1 {
  font-size: 40px;
}
#results .units-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}
#results .units-wrapper .unit {
  width: 20%;
}
#results .units-wrapper .unit h3 {
  font-size: 50px;
  margin-bottom: 15px;
}
#results .units-wrapper .unit h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
}
#results .units-wrapper .unit svg {
  margin: 40px 0;
}
#results .units-wrapper .unit a {
  text-decoration: none;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  font-family: "Rajdhani";
  font-weight: 700;
  line-height: 15px;
  font-size: 20px;
}
#results .units-wrapper .unit a:hover {
  color: #40aa1d;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  #results .units-wrapper .unit {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  #results .units-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #results .units-wrapper .unit {
    width: 90%;
  }
}