/* Basic styles for scrolling */
@import 'fonts.scss';

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    font-family: 'Raleway';
}

body {
    height: 220vh;
}

// utilities
.d-flex {
    display: flex;
} 
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {        
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-stretch {
    align-items: stretch;
}
.flex-column {
    flex-direction: column;
}
.text-white {
    color: #FFFFFF;
}

#machine-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;

    svg {
        height: 100%;
        width: 100%;
    }

    .machine-part {
        transition: opacity 300ms ease-in-out;

        &.show {
            transition: opacity 300ms ease-in-out;
        }

        .lazer,
        .circles,
        .table {
            opacity: 0;
        }

        &.hide {
            opacity: .2;
            transition: opacity 300ms ease-in-out;
        }

        #part2 {
            &:hover {
                + .lazer {
                    opacity: 1;
                }
            }
        }

        &.cad-group {
            #part3 {
                opacity: 0;
                transition: all 400ms ease-in-out;
            }

            #part3_1 {
                transition: all 400ms ease-in-out;
            }
            &:hover {
                #part3 {
                    opacity: 1;
                    transition: all 400ms ease-in-out;
                }

                #part3_1 {
                    opacity: 0;
                    transition: all 400ms ease-in-out;
                }
            }
        }

        #part4_1 {
            transition: opacity 300ms ease-in-out;
            &:hover {
                opacity: 0.4;
                transition: opacity 300ms ease-in-out;
            }
        }

        #part5 {
            &:hover {
                + .circles {
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes fadeInTopToBottom {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
  #part6 {
    opacity: 0;
    pointer-events: none;
  }
  #part1:hover + #part6 {
    animation: fadeInTopToBottom 500ms forwards;
    opacity: 1;
  }


  .info-wrapper {
    width: 40%;
    height: 500px;
    padding: 0 20px;

    .info {
        margin-bottom: 20px;
    }

    h3 {
        position: relative;
    }

    span {
        position: relative;
        transition: all 300ms ease-in-out;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: -15px;
            width: 5px;
            height: 5px;
            border: 1px solid #40aa1d;
            transition: all 300ms ease-in-out;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            color: #40aa1d;
            transition: all 300ms ease-in-out;

            &::before { 
                background-color: #40aa1d;
                border: 1px solid transparent;
                transition: all 300ms ease-in-out;
            }
        }
    }

    &:nth-child(1 of .info-wrapper) {
        justify-content: center;

        h3 {
            &::after {
                content: '';
                width: 140%;
                position: absolute;
                border-bottom: 1px dotted #707070;
                bottom: 0;
                left: 0;
            }
        }
    }
    &:nth-child(2 of .info-wrapper) {
        justify-content: center;

        h3 {
            &::after {
                content: '';
                width: 160%;
                position: absolute;
                border-bottom: 1px dotted #707070;
                bottom: 0;
                right: 0;
            }
        }
    }
 }
//   media queries
 @media screen and (max-width: 992px) {
    #machine-animation {
        display: none;
    }
    #mobile-tablet {
        display: block;
    }
 }
 @media screen and (min-width: 992px) {
    #mobile-tablet {
        display: none;
    }
 }


//  results section

#results {
    background-image: url(assets/img/statistics-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px 0;

    h1 {
        font-size: 40px;
    }

    .units-wrapper {
        flex-wrap: wrap;
        padding: 0 20px;

        .unit {
            width: 20%;
    
            h3  {
                font-size: 50px;
                margin-bottom: 15px;
            }
    
            h4 {
                font-size: 20px;
                font-weight: 700;
                line-height: 27px;
                margin: 0;
            }
    
            svg {
                margin: 40px 0;
            }
    
            a {
                text-decoration: none;
                transition: color 300ms ease-in-out;
                font-family: 'Rajdhani';
                font-weight: 700;
                line-height: 15px;
                font-size: 20px;

                &:hover {
                    color: #40aa1d;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #results {
        .units-wrapper {
            .unit {
                width: 45%;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #results {
        .units-wrapper {
            justify-content: center;
            align-items: center;

            .unit {
                width: 90%;
            }
        }
    }
}